<template>
  <Layout>
    <PageSection size="md-10 lg-8">
      <h2 class="about__heading mb-sm">{{ $page.siteSettings.title }}</h2>
      <blockquote class="about__mission-statement">
        {{ $page.siteSettings.missionStatement }}
      </blockquote>
      <BlockContent
        :blocks="$page.aboutPage.groupSummaryRaw"
        className="about__description__blocks"
      />
      <g-image
        src="@assets/images/ensemble_2021.jpg"
        alt="Ensemble Members"
        class="about__image elevation-2"
      />
      <hr />
      <h2 class="about__heading mb-sm">Conductor</h2>
      <div class="about__conductor">
        <div class="about__conductor__profile">
          <g-image
            v-if="conductor.photo"
            :src="
              urlForImage(conductor.photo.asset.url)
                .width(conductorImageSize)
                .height(conductorImageSize)
                .url()
            "
            :style="{ width: `${conductorImageSize}px` }"
            class="about__conductor__photo elevation-2"
          />
          <div class="about__conductor__name">{{ conductor.name }}</div>
        </div>
        <BlockContent
          :blocks="conductor.bio"
          className="about__conductor__blocks"
        />
      </div>

      <hr />
      <h2 class="about__heading mb-sm">Composers</h2>
      <BlockContent
        :blocks="$page.aboutPage.composerContactRaw"
        className="about__description__blocks"
      />

      <template v-if="donationCodes.length">
        <hr />
        <h2 class="about__heading mb-sm">Donations</h2>
        <div class="">
          Interested in supporting {{ $page.siteSettings.title }}?
        </div>
        <div class="about__donations">
          <div
            v-for="code in donationCodes"
            :key="code.name"
            class="about__donations__code"
          >
            <div class="about__donations__code__title">{{ code.name }}</div>
            <g-image
              :src="
                urlForImage(code.image.asset.url)
                  .width(qrCodeImageSize)
                  .height(qrCodeImageSize)
                  .url()
              "
              class="about__donations__code__image elevation-2"
            />
          </div>
        </div>
      </template>

      <hr />
      <h2 class="about__heading mb-sm">Members</h2>
      <div class="about__members__description">
        Members of the current {{ currentSeason.name }} season
      </div>
      <SeasonMemberList
        v-if="currentSeason.revealMembers"
        :members="currentSeason.members"
      />
      <div v-else class="is-empty">
        Current season members will be revealed at a later date!
      </div>
      <g-link
        class="page-not-found__action button is-large is-primary mt-md"
        to="/members/current/"
      >
        Member Bios
      </g-link>
    </PageSection>
  </Layout>
</template>

<page-query>
query {
  siteSettings: sanitySiteSettings(id: "siteSettings") {
    missionStatement
    title
    qrCodes {
      image {
        asset {
          url
        }
      }
      name
      type
    }
    currentSeason {
      name
      revealMembers
      members {
        _key
        part
        member {
          firstName
          lastName
        }
      }
    }
  }
  aboutPage: sanityAboutPage(id: "aboutPage") {
    conductorBioRaw: _rawConductorBio
    conductorName
    conductorPhoto {
      asset {
        url
      }
    }
    composerContactRaw: _rawComposerContact
    groupSummaryRaw: _rawGroupSummary
  }
}
</page-query>

<script>
// Components
import SeasonMemberList from "@components/Season/SeasonMemberList";

export default {
  name: "About",
  components: {
    SeasonMemberList,
  },
  metaInfo: {
    title: "About",
  },
  data() {
    return {
      conductorImageSize: 120,
      qrCodeImageSize: 120,
    };
  },
  computed: {
    conductor() {
      const {
        conductorBioRaw,
        conductorName,
        conductorPhoto,
      } = this.$page.aboutPage;

      return {
        bio: conductorBioRaw,
        name: conductorName || "N/A",
        photo: conductorPhoto,
      };
    },
    currentSeason() {
      return this.$page.siteSettings.currentSeason;
    },
    donationCodes() {
      return this.$page.siteSettings.qrCodes.filter(
        (code) => code.type === "donation"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
hr {
  background-color: $theme-accent;
}

.about__heading {
  text-align: center;
}

.about__mission-statement {
  margin-bottom: 32px;
  padding: 8px 16px;
  font-weight: 500;
  color: $theme-accent;
  border: 4px solid $theme-accent;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}

.about__description__blocks,
.about__conductor__blocks {
  > p:not(:first-of-type) {
    margin-top: 16px;
  }
}

.about__image {
  margin-top: 32px;
  border-radius: 8px;
  filter: grayscale(50%);
}

.about__conductor {
  display: flex;

  @include xsOnly() {
    flex-direction: column;
    align-items: center;
  }
}

.about__conductor__profile {
  flex-shrink: 0;

  @include smUp() {
    margin-right: 32px;
  }
}

.about__conductor__name {
  margin-top: 8px;
  color: $theme-primary-light;
  font-size: 125%;
  font-weight: 600;

  @include xsOnly() {
    margin-bottom: 16px;
  }
}
.about__conductor__photo {
  border-radius: 50%;
}

.about__donations {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  @include smUp() {
    flex-direction: row;
  }

  & > *:not(:first-child) {
    margin-top: 16px;

    @include smUp() {
      margin-top: 0;
      margin-left: 24px;
    }
  }
}

.about__donations__code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__donations__code__title {
  margin-bottom: 8px;
  color: $theme-primary-dark;
  font-size: 18px;
  font-weight: bold;
}

.about__donations__code__image {
  padding: 8px;
  border-radius: 8px;
  background-color: white;
}

.about__members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 1.75;
  background-color: white;
  border-radius: 8px;

  @include xsOnly() {
    > div:not(:last-of-type) {
      border-bottom: 1px solid $theme-primary;
    }
  }

  @include smOnly() {
    > div:nth-of-type(2n) {
      border-left: 1px solid $theme-primary;
    }
    > div:nth-of-type(-n + 2) {
      border-bottom: 1px solid $theme-primary;
    }
  }

  @include mdUp() {
    > div:not(:first-of-type) {
      border-left: 1px solid $theme-primary;
    }
  }
}

.about__members__description {
  margin-bottom: 24px;
  color: $color-grey;
}
</style>
