<template>
  <Layout>
    <PageSection size="sm-10 md-8 lg-6">
      <h2 class="mb-md">Composers</h2>
      <div class="composers__list elevation-2">
        <template v-for="composer in composers">
          <Hover v-slot="{ hover }" :key="composer.id">
            <ComposerCard
              :class="{ 'elevation-4': hover }"
              :composer="composer"
              @select="showModal(composer)"
            />
          </Hover>
        </template>
      </div>
      <ComposerModal
        :composer="selectedComposer"
        :show="isComposerModalShown"
        @close="closeModal"
      />
    </PageSection>
  </Layout>
</template>

<page-query>
query {
  composers: allSanityComposer(sort: [
    { by: "lastName", order: ASC },
    { by: "firstName", order: ASC }
  ]) {
    edges {
      node {
        id
        firstName
        lastName
        address
        bio
        email
        photo {
          asset {
            url
          }
        }
      }
    }
  }
  seasons: allSanitySeason(sort: [{ by: "endDate", order: DESC }]) {
    edges {
      node {
        id
        name
        revealComposers
        revealSongs
        songs {
          name
          composer {
            _id
          }
        }
      }
    }
  }
}
</page-query>

<script>
// Components
import ComposerCard from "@components/Composer/ComposerCard";
import ComposerModal from "@components/Composer/ComposerModal";

export default {
  name: "Composers",
  components: {
    ComposerCard,
    ComposerModal,
  },
  metaInfo: {
    title: "Composers",
  },
  data() {
    return {
      selectedComposer: null,
    };
  },
  computed: {
    composers() {
      const { edges: composerEdges } = this.$page.composers;
      const { edges: seasonEdges } = this.$page.seasons;

      const composers = composerEdges.map(({ node: composer }) => {
        const seasons = seasonEdges.reduce((accum, { node: season }) => {
          if (!season.revealComposers) return accum;

          const temp = {
            id: season.id,
            name: season.name,
            // TODO: Consider filtering separately to first determine if composer has
            //         songs in season, then checking whether they should be revealed.
            songs: season.songs.filter(
              (song) => season.revealSongs && song.composer._id === composer.id
            ),
          };

          return temp.songs.length ? [...accum, temp] : accum;
        }, []);

        const compositionCount = seasons.reduce(
          (accum, season) => accum + season.songs.length,
          0
        );

        return { ...composer, compositions: compositionCount, seasons };
      });

      return composers.filter((c) => c.seasons.length);
    },
    isComposerModalShown() {
      return Boolean(this.selectedComposer);
    },
  },
  methods: {
    /**
     * Close the composer modal
     */
    closeModal() {
      this.selectedComposer = null;
    },
    /**
     * Show the composer modal
     *
     * @param {Object} composer - Selected composer
     */
    showModal(composer) {
      this.selectedComposer = composer;
    },
  },
};
</script>

<style lang="scss" scoped>
$items-per-row: 4;
$item-spacing: 8px;

.composers__list {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include xsOnly {
    border-radius: 8px;
    overflow: hidden;
  }

  @include smUp() {
    margin: -$item-spacing;
    box-shadow: none;
  }

  > div {
    @include xsOnly() {
      border-radius: 0;
      box-shadow: none;

      &:not(:last-of-type) {
        border-bottom: 1px solid $theme-accent;
      }
    }

    @include smUp() {
      margin: 8px;
    }
  }
}
</style>
