<template>
  <div class="hero">
    <g-image
      src="@assets/images/CDE-Marius-Masalar-Book.jpg"
      alt="Hero Image"
      class="hero__image"
    />
    <PageSection size="xl-8 lg-9 md-10">
      <div class="hero__card elevation-10">
        <div class="hero__card__header">
          <g-image
            :class="{ 'with-text': Boolean(text) }"
            src="@assets/icons/logo_full.png"
            alt="Icon"
            class="hero__icon"
            width="250"
          />
          <h1 v-if="text" class="hero__title">{{ text }}</h1>
        </div>
      </div>
    </PageSection>
  </div>
</template>

<script>
export default {
  name: "HeroImage",
  props: {
    siteTitle: {
      type: String,
      default: "",
    },
  },
  computed: {
    text() {
      return this.siteTitle ? this.siteTitle.split(" ").join("\n") : "";
    },
  },
};
</script>

<style lang="scss">
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$layout-navbar-height});
  overflow: hidden;
}

.hero__image {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(0.5);
  transform: scale(1.05);
}

.hero__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 32px;
  background-color: white;
  border-radius: 16px;
  z-index: 1;

  @include xsOnly() {
    width: 90%;
  }

  @include mdUp() {
    padding: 64px;
  }
}

.hero__card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // margin-bottom: 24px;

  @include smUp() {
    flex-direction: row;
    // margin-bottom: 48px;
  }
}

.hero__mission {
  color: $color-grey-light;
  font-size: 120%;
}

.hero__icon {
  border-radius: 50%;
  margin: -16px;

  &.with-text {
    margin: -32px;

    @include xsOnly() {
      margin-bottom: 0px;
    }

    @include smUp() {
      margin-right: 24px;
    }
  }
}

.hero__title {
  width: 100%;
  padding: 16px 0;
  font-size: 250%;
  font-weight: 300;
  white-space: pre;
  color: darken(#6c63ff, 10%);
  color: $theme-primary;

  @include xsOnly {
    text-align: center;
    font-size: 250%;
    padding-top: 24px;
    border-top: 8px solid $theme-accent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  @include smUp() {
    padding-left: 32px;
    border-left: 8px solid $theme-accent;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
</style>
