// Cards
.card {
  border-radius: 4px;
  background-color: white;

  &:not(.is-tile) {
    border-radius: 4px;
  }
}

// Chips
.chips {
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 8px;
  }
}

.chip {
  display: flex;
  // Necessary to prevent full-width from flex
  width: fit-content;
  padding: 4px 8px;
  color: white;
  font-size: 0.8rem;
  background-color: $theme-primary;
  border: 1px solid $theme-primary;
  border-radius: 100px;

  &.is-accent {
    background-color: $theme-accent;
    border: 1px solid $theme-accent;
  }
  &.is-secondary {
    background-color: $theme-secondary;
    border: 1px solid $theme-secondary;
  }

  > *:not(:first-child) {
    margin-left: 4px;
  }
}
