/*
 * Default HTML element styles
 */

@import "../vars";

a {
  text-decoration: none;
}

blockquote {
  margin: 0 1rem;
}

hr {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: $theme-primary-dark;
  border: none;
}

img {
  // Strange fix for large images on mobile
  max-width: 100%;
}

