/*
 * Generate classes for a simple column/layout structure
 *
 * Example classes include "xs-12", "sm-8", and "md-6"
 */

@import "../mixins";

$column-class: ".layout";
$breakpoints: "xs", "sm", "md", "lg", "xl";
$columns: 12;

@mixin generateBreakpointColumns($breakpoint) {
  @for $number from 1 through $columns {
    #{$column-class}.#{$breakpoint}-#{$number} {
      width: calc(100% * #{$number} / #{$columns});
    }
  }
}

// Generate the columns (grouped by media query)
@include xsUp() {
  @include generateBreakpointColumns("xs");
}
@include smUp() {
  @include generateBreakpointColumns("sm");
}
@include mdUp() {
  @include generateBreakpointColumns("md");
}
@include lgUp() {
  @include generateBreakpointColumns("lg");
}
@include xlUp() {
  @include generateBreakpointColumns("xl");
}

//  Ratio helper classes
@include generateRatioClass("1by1", 100%);
