<template>
  <div class="composer-list elevation-3">
    <div v-for="composer in composers" :key="composer._id" class="composer">
      <div class="composer__name can-truncate">
        {{ composer.firstName }} {{ composer.lastName }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SeasonComposerList",
  props: {
    /**
     * Season composers
     */
    composers: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.composer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  line-height: 1.5;
  background-color: white;
  border-radius: 8px;
}

.composer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 12px;

  @include xsOnly() {
    width: 100%;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-grey-light;
    }
  }

  @include smUp() {
    width: 50%;
    &:nth-of-type(1n) {
      border-right: 1px solid $color-grey-light;
    }
    &:nth-of-type(n + 3) {
      padding-top: 0;
    }
  }
}

.composer__name {
  font-weight: 500;
  color: $theme-primary-light;
}
</style>
