<template>
  <div class="season-card card elevation-2">
    <div class="season-card__title">
      <span class="season-card__title__left">
        <span class="season-card__title__name">
          {{ season.name }}
        </span>
        <span v-if="false" class="season-card__title__date">
          {{ seasonDates }}
        </span>
      </span>
      <g-link
        :to="`/seasons/${season.slug.current}`"
        class="button is-icon is-primary-light"
      >
        <i class="material-icons">search</i>
      </g-link>
    </div>
    <div class="chips">
      <span class="chip is-secondary">
        <i class="material-icons">face</i>
        <span>{{ season.members.length }}</span>
      </span>
      <span class="chip is-secondary">
        <i class="material-icons">location_on</i>
        <span>{{ seasonPrograms }}</span>
      </span>
    </div>
  </div>
</template>

<script>
import { format } from "date-fns";

export default {
  name: "SeasonCard",
  props: {
    /**
     * Season details
     */
    season: {
      type: Object,
      required: true,
    },
  },
  computed: {
    seasonDates() {
      let { startDate, endDate } = this.season;
      if (!startDate && !startDate) return "";

      const dateFormat = "yyyy-MMM";
      startDate = format(new Date(startDate), dateFormat);
      endDate = format(new Date(endDate), dateFormat);
      return `${startDate} – ${endDate}`;
    },
    seasonPrograms() {
      const { programs = [] } = this.season;
      return programs.filter((p) => p.status !== "cancelled").length;
    },
    seasonComposers() {
      return this.season.songs.reduce((accum, song) => {
        const composer = accum.find((c) => c._id === song.composer._id);
        return composer ? accum : [...accum, song.composer];
      }, []).length;
    },
  },
};
</script>

<style lang="scss" scoped>
.season-card {
  width: 100%;
  padding: 16px;
  transition: box-shadow 0.2s ease;
  overflow: hidden;
}

.season-card__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
}

.season-card__title__left {
  display: flex;
  flex-direction: column;

  > .season-card__title__name {
    margin-bottom: 6px;
  }
}

.season-card__title__name {
  display: flex;
  font-weight: 500;
}

.season-card__title__date {
  color: grey;
  font-size: 0.9em;
}
</style>
