<template>
  <header
    :class="{ 'app__header--transparent': transparent }"
    class="app__header elevation-6"
  >
    <ClientOnly>
      <!-- Regular menu -->
      <nav v-if="$breakpoint.smUp" class="header__links">
        <g-link
          v-for="link in links"
          :key="link.path"
          :exact="link.exact"
          :to="link.path"
          class="header__link"
        >
          {{ link.text }}
        </g-link>
        <a :href="storeUrl" class="header__link" target="_blank">Store</a>
      </nav>
      <!-- Mobile menu -->
      <div v-else class="header__mobile">
        <transition name="slide">
          <nav v-if="isMenuShown" class="header__mobile__links">
            <g-link
              v-for="link in mobileLinks"
              :key="link.path"
              :exact="link.exact"
              :to="link.path"
              class="header__link"
            >
              {{ link.text }}
            </g-link>
            <a :href="storeUrl" class="header__link" target="_blank">Store</a>
          </nav>
        </transition>
        <div class="header__mobile__main">
          <g-link class="header__link" exact to="/">Home</g-link>
          <button class="button is-icon" @click="toggleMenu">
            <i class="material-icons">{{ isMenuShown ? "close" : "menu" }}</i>
          </button>
        </div>
      </div>
    </ClientOnly>
  </header>
</template>

<script>
export default {
  name: "TheAppHeader",
  props: {
    /**
     * Whether header is transparent
     */
    transparent: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
  data() {
    return {
      isMenuShown: false,
      storeUrl: "http://store.cdensemble.com",
    };
  },
  computed: {
    links() {
      return [
        { exact: true, path: "/", text: "Home" },
        { exact: true, path: "/seasons/", text: "Seasons" },
        { exact: true, path: "/composers/", text: "Composers" },
        { exact: true, path: "/about/", text: "About" },
      ];
    },
    mobileLinks() {
      return this.links.filter((link) => link.path !== "/");
    },
  },
  methods: {
    toggleMenu() {
      this.isMenuShown = !this.isMenuShown;
    },
  },
};
</script>

<style lang="scss" scoped>
// Header styles
.app__header {
  // position: absolute;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $theme-primary;
  height: $layout-navbar-height;
  z-index: 10;

  &.app__header--transparent {
    background-color: transparent;
    box-shadow: none;
  }
}

.header__mobile {
  position: relative;
  width: 100%;
  height: 100%;
}

.header__mobile__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 16px 0 12px;
}

.header__mobile__links {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  border-top: 1px solid $theme-primary-light;
  background-color: $theme-primary;

  .header__link {
    width: 100%;
    text-align: center;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.header__links {
  @include smUp {
    & > *:not(:first-of-type) {
      margin-left: 16px;
    }
  }
}

.header__link {
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: transparentize(white, 0.25);
  transition: color 0.2s;

  &:hover,
  &.active,
  &.active--exact {
    color: white;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
</style>
