<template>
  <Layout>
    <PageSection class="pb-no" size="md-10 lg-8">
      <h2 class="season__title mb-xs">{{ season.name }}</h2>
      <h3 class="season__subtitle mb-sm">{{ $page.siteSettings.title }}</h3>
      <div class="season__dates">
        <span>{{ season.startDate | formatDate("yyyy-MMM") }}</span>
        <i class="material-icons mx-xs">event</i>
        <span>{{ season.endDate | formatDate("yyyy-MMM") }}</span>
      </div>
      <h3 class="season__section-header">
        Members<span class="chip is-accent ml-xs">
          {{ season.members.length }}
        </span>
      </h3>
      <div v-if="!season.revealMembers" class="season-list--unrevealed">
        Group members will be revealed at a later date!
      </div>
      <SeasonMemberList v-else :members="season.members" />
    </PageSection>

    <PageSection class="pt-no" size="sm-10 md-8 lg-6">
      <h3 class="season__section-header">
        Composers<span class="chip is-accent ml-xs">
          {{ seasonComposers.length }}
        </span>
      </h3>
      <div v-if="!season.revealComposers" class="season-list--unrevealed">
        Composers will be revealed at a later date!
      </div>
      <SeasonComposerList
        v-else-if="seasonComposers && seasonComposers.length"
        :composers="seasonComposers"
      />
      <div v-else class="is-empty">
        No composers entered for this season yet
      </div>

      <h3 class="season__section-header">
        Programs<span class="chip is-accent ml-xs">
          {{ season.programs.length }}
        </span>
      </h3>
      <div v-if="!season.revealPrograms" class="season-list--unrevealed">
        Programs will be revealed at a later date!
      </div>
      <SeasonProgramList
        v-else-if="season.programs && season.programs.length"
        :programs="season.programs"
      />
      <div v-else class="is-empty">No programs entered for this season yet</div>

      <h3 class="season__section-header">
        Songs<span class="chip is-accent ml-xs">
          {{ season.songs.length }}
        </span>
      </h3>
      <div v-if="!season.revealSongs" class="season-list--unrevealed">
        Songs will be revealed at a later date!
      </div>
      <SeasonSongList
        v-else-if="season.songs && season.songs.length"
        :songs="season.songs"
      />
      <div v-else class="is-empty">No programs entered for this season yet</div>
    </PageSection>
  </Layout>
</template>

<page-query>
query($id: ID!) {
  season: sanitySeason(id: $id) {
    id
    name
    startDate
    endDate
    revealComposers
    revealMembers
    revealPrograms
    revealSongs
    members {
      part
      member {
        firstName
        lastName
      }
    }
    songs {
      _key
      name
      composer {
        _id
        firstName
        lastName
      }
    }
    programs {
      _key
      name
      dateTime
      link
      type
      status
      address {
        city
        state
      }
    }
  }
  siteSettings: sanitySiteSettings(id: "siteSettings") {
    title
  }
}
</page-query>

<script>
import sort from "fast-sort";

// Components
import SeasonComposerList from "@components/Season/SeasonComposerList";
import SeasonMemberList from "@components/Season/SeasonMemberList";
import SeasonProgramList from "@components/Season/SeasonProgramList";
import SeasonSongList from "@components/Season/SeasonSongList";

export default {
  name: "Season",
  components: {
    SeasonComposerList,
    SeasonMemberList,
    SeasonProgramList,
    SeasonSongList,
  },
  computed: {
    season() {
      return this.$page.season;
    },
    seasonComposers() {
      const { songs } = this.season;

      const composers = songs.reduce((accum, song) => {
        const composer = accum.find((c) => c._id === song.composer._id);
        return composer ? accum : [...accum, song.composer];
      }, []);

      return sort(composers).asc([(c) => c.lastName, (c) => c.firstName]);
    },
  },
};
</script>

<style lang="scss" scoped>
.season__subtitle {
  color: $color-grey;
}

.season__section-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;

  .chip {
    position: absolute;
    left: 100%;
  }
}

.season__dates {
  display: flex;
  align-items: center;
  font-weight: 500;

  .material-icons {
    color: $theme-primary-light;
    font-size: 1.5em;
  }
}

.season-list--unrevealed {
  margin-top: 8px;
  margin-bottom: 16px;
  color: $theme-secondary-dark;
  font-weight: 500;
  font-style: italic;
}
</style>
