<template>
  <div class="app__layout">
    <TheAppHeader />
    <div :class="{ 'app__content--offset': headerOffset }" class="app__content">
      <slot />
    </div>
    <TheAppFooter v-if="footer" />
  </div>
</template>

<script>
// Components
import TheAppFooter from "@components/SingleUse/TheAppFooter";
import TheAppHeader from "@components/SingleUse/TheAppHeader";

export default {
  name: "DefaultLayout",
  components: {
    TheAppFooter,
    TheAppHeader,
  },
  props: {
    footer: {
      type: Boolean,
      default: true
    },
    /**
     * Whether to offset page content for navbar
     * @type {boolean}
     */
    headerOffset: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.app__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.app__content--offset {
    margin-top: $layout-navbar-height;
  }
}
</style>
