<template>
  <Modal
    v-show="show"
    :closable="true"
    :persistent="false"
    :title="composer ? `${composer.firstName} ${composer.lastName}` : null"
    :width="600"
    @close="close"
  >
    <template v-if="composer">
      <p class="composer-modal__bio">
        <span v-if="composer.bio">{{ composer.bio }}</span>
        <span v-else class="is-empty">
          No bio for
          {{ composer.firstName }} {{ composer.lastName }}
        </span>
      </p>
      <div class="composer-modal__details">
        <p class="composer-modal__detail">
          <i class="material-icons">location_on</i>
          <span class="composer-modal__detail__text">
            {{ composer.address || "Unknown" }}
          </span>
        </p>
        <p class="composer-modal__detail">
          <i class="material-icons">mail</i>
          <span class="composer-modal__detail__text">
            <a v-if="composer.email" :href="`mailto:${composer.email}`">
              {{ composer.email }}
            </a>
            <template v-else>Unknown</template>
          </span>
        </p>
        <p v-if="composer.seasons.length > 0" class="composer-modal__detail">
          <i class="material-icons">date_range</i>
          <span class="composer-modal__detail__text">
            {{ composer.seasons.map((season) => season.name).join(",&ensp;") }}
          </span>
        </p>
      </div>
    </template>
  </Modal>
</template>

<script>
export default {
  name: "ComposerModal",
  props: {
    /**
     * Selected composer
     */
    composer: {
      type: Object,
      default: null,
    },
    /**
     * Whether modal is shown
     */
    show: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    /**
     * Close the modal
     */
    close() {
      this.$emit("close");
    },
  },
};
</script>

<style lang="scss" scoped>
.composer-modal__bio {
  .is-empty {
    color: $color-grey;
  }
}

.composer-modal__details {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  > .composer-modal__detail:not(:first-child) {
    margin-top: 12px;
  }
}

.composer-modal__detail {
  display: flex;
  align-items: center;

  .material-icons {
    margin-right: 8px;
    color: $theme-secondary;
  }

  a {
    color: $theme-primary;
  }
}
</style>
