<template>
  <div class="composer-card card elevation-2">
    <div class="composer-card__title">
      <g-image
        v-if="composer.photo"
        :src="
          urlForImage(composer.photo.asset.url)
            .width(imageSize)
            .height(imageSize)
            .url()
        "
        class="composer-card__title__photo"
      />
      <div
        v-else
        :style="{ width: `${imageSize}px`, height: `${imageSize}px` }"
        class="composer-card__title__photo is-empty"
      >
        {{ composer.firstName.slice(0, 1) }}{{ composer.lastName.slice(0, 1) }}
      </div>
      <div class="composer-card__title--left">
        <span class="composer-card__title__name can-truncate">
          {{ composer.firstName }} {{ composer.lastName }}
        </span>
        <span class="composer-card__title__address">
          <i class="material-icons">location_on</i>
          {{ composer.address || "Unknown" }}
        </span>
      </div>
      <button
        class="composer-card__view button is-icon is-primary-light"
        type="button"
        @click="$emit('select', composer)"
      >
        <i class="material-icons">search</i>
      </button>
    </div>
    <div class="composer-card__seasons">
      <div v-for="season in composer.seasons" :key="season.id" class="mb-xs">
        <div class="composer-card__seasons__name">{{ season.name }}</div>
        <div class="composer-card__seasons__songs">
          {{
            season.songs
              .map((song) => song.name.replace(/ /g, "&nbsp;"))
              .join(",&ensp;")
          }}
        </div>
      </div>
    </div>
    <!-- <div class="chips">
      <span class="chip">
        <i class="material-icons">music_note</i>
        <span>{{ composer.compositions || 0 }}</span>
      </span>
      <span class="chip">
        <i class="material-icons">date_range</i>
        <span>{{ composer.seasons.length || 0 }}</span>
      </span>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "ComposerCard",
  props: {
    /**
     * Composer details
     */
    composer: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      imageSize: 80,
    };
  },
};
</script>

<style lang="scss" scoped>
.composer-card {
  width: 100%;
  padding: 16px;
  transition: box-shadow 0.2s ease;
  overflow: hidden;
}

.composer-card__title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.composer-card__title__photo {
  margin-right: 16px;
  border-radius: 50%;

  &.is-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($theme-secondary, 20%);
    color: darken($theme-secondary, 25%);
    font-size: 150%;
    font-style: normal;
  }

  @include xsOnly {
    width: 60px !important;
    height: 60px !important;
    margin-right: 12px;
  }
}

.composer-card__title--left {
  display: flex;
  flex-direction: column;
}

.composer-card__title__name {
  font-weight: 600;
  font-size: 110%;
  line-height: 120%;
}

.composer-card__title__address {
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: $color-grey-dark;

  .material-icons {
    position: relative;
    left: -4px;
    color: $theme-secondary;
  }
}

.composer-card__view {
  align-self: flex-start;
  margin-left: auto;
}

// .composer-card__seasons {}

.composer-card__seasons__name {
  font-weight: 500;
  color: $theme-primary-light;
  margin-bottom: 2px;
}

.composer-card__seasons__songs {
  font-size: 90%;
  color: $color-grey-dark;
}
</style>
